{# views/components/header.twig #}
<header class="site-header">
  <div class="container header-inner">
    <a href="{{ url('home') }}" class="brand">
      <img src="{{ asset(theme.settings.logo) }}" class="brand-logo" alt="{{ store.name }}">
      <span class="brand-text">{{ store.name }}</span>
    </a>
    <nav class="nav">
      <a href="{{ url('home') }}" class="nav-link">{{ 'home'|t }}</a>
      <a href="{{ url('collections') }}" class="nav-link">{{ 'collections'|t }}</a>
      <a href="{{ url('cart') }}" class="nav-link">{{ 'cart'|t }} ({{ cart.count }})</a>
      <a href="{{ url('account') }}" class="nav-link btn btn-primary">{{ 'account'|t }}</a>
    </nav>
    <button class="hamburger" id="hamburger" aria-label="Menu"><span></span><span></span><span></span></button>
  </div>
</header>
